conda install pytorch==1.7.1 torchvision==0.8.2 torchaudio==0.7.2 cudatoolkit=11.0 -c pytorch

numpy
fvcore
tqdm
yacs

git+https://github.com/NVIDIA/apex.git@02a33875970e1b555754dfc4ab85d05595d23764#egg=apex

termcolor
thop==0.0.31.post2001170342
tensorboard
seaborn
matplotlib
pandas
openpyxl
sklearn
tifffile
timm
